* {
  box-sizing: border-box;
  caret-color: transparent;
}

body {
  font-family: 'Crimson Text', sans-serif;
  font-size: 18px;
  line-height: 24px;
  background-color: #fbf9f7;
}

.container {
  margin: 25px auto 5vh;
  width: 85%;
}

.desktop {
  display: none;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  height: 75px;
  padding-bottom: 0;
  background-color: #fbf9f7;
  border-bottom: solid 1px;
}

.bi {
  color: black;
  padding: 0;
}

.bi-list {
  position: fixed;
  top: 25px;
  left: 7%;
  font-size: 32px;
}

.bi-person {
  position: fixed;
  top: 25px;
  right: 20%;
  font-size: 30px;
}

.bi-bag {
  position: fixed;
  top: 25px;
  right: 8%;
  font-size: 24px;
}

.top-hr {
  width: 100%;
  margin: 0;
  color: black 1px;
}

.catalog-intro {
  margin-top: 50px;
  background-color: #f7ecde;
  height: 200px;
  margin-bottom: 10px;
}

.shop-all {
  font-size: 35px;
  margin-top: 38px;
  text-align: center;
}

.catalog-desc {
  padding: 0 40px;
}

link {
  text-decoration: none;
}

p {
  margin: 0;
}

.card-price {
  margin-bottom: 10px;
}

.card-body,
.footer-item {
  font-size: 18px;
  line-height: 24px;
  color: black;
  padding: 0;
}

a:link {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 47%;
}

.image {
  margin: 10px 0;
  max-width: 100%;
  object-fit: contain;
}

.hr-footer {
  margin-top: 30px;
  border-top: solid 0.5px;
  padding: 20px 7.5%;
}

.img-col-2-thrd {
  margin-top: 75px;
}

.detail-title {
  font-size: 35px;
  line-height: 40px;
  margin: 10px 0;
}

.detai-price {
  font-size: 20px;
  line-height: 20px;
}

.add-to-cart,
.check-out {
  font-family: inherit;
  font-size: 20px;
  width: 100%;
  height: 55px;
  background-color: #f7ecde;
  border: none;
  margin: 20px 0;
}

.subtotal {
  text-align: center;
  font-size: 20px;
}

.signin-signup-Form {
  display: block;
  width: 330px;
  margin: auto;
  margin-bottom: 18vh;
}

.welcomeMessage {
  text-align: center;
  font-size: 35px;
  margin-top: 25vh;
  margin-bottom: 15px;
}

.emailInput,
.passwordInput,
.auth-form-submit-button {
  width: 100%;
  border: solid #ced4da 0.5px;
  color: inherit;
  height: 38px;
  font-family: inherit;
  font-size: 25px;
  margin: 15px auto;
  padding-left: 12px;
}

::placeholder {
  color: #abb5be;
}

.auth-form-submit-button {
  border: none;
  height: 48px;
  background-color: rgba(247, 236, 222, 1);
}

.alternateAction {
  font-size: 20px;
  color: #dcb985;
}

.actionLink {
  color: #dcb985;
}

button:hover,
.actionLink:hover,
.symbol:hover,
.bi:hover {
  cursor: pointer;
}

.Account {
  margin: 30vh auto;
  text-align: center;
  font-size: 25px;
  width: 244px;
  line-height: 35px;
  margin-bottom: 48vh;
}

.errorMsg {
  color: red;
}

.cart-modal {
  z-index: 30;
  position: absolute;
  width: 340px;
  right: 0;
  top: 0;
  height: auto;
  background-color: #fbf9f7;
}

.cart-title {
  text-align: center;
  font-size: 22px;
}

.cart-column-image {
  flex-basis: 31%;
}

.cart-column-name {
  flex-basis: 34%;
}

.cart-image {
  width: 100%;
}

.cart-row {
  display: flex;
  justify-content: space-evenly;
  padding: 25px 0;
  font-size: 17px;
}

.cart-column-fourth {
  flex-basis: 17%;
}

.row-quantity {
  border: black solid 0.1px;
  height: 36px;
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
}

.column-third {
  flex-basis: 33%;
  text-align: center;
  padding: 7px 0;
}

.bi.bi-x {
  margin-left: 300px;
  font-size: 40px;
  margin-top: 10px;
}

@media only screen and (width >540px) {
  .mobile-intro {
    display: none;
  }

  .intro-column-half {
    flex-basis: 50%;
  }

  .desktop.intro {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 50px;
    background-color: #f7ecde;
    height: 315px;
    margin-bottom: 50px;
  }

  .intro-img {
    width: 100%;
    height: 315px;
    object-fit: cover;
  }

  .shop-all {
    font-size: 35px;
    margin-top: 70px;
    margin-left: 40px;
    text-align: left;
  }

  .catalog-desc {
    padding: 0 40px;
  }

  .img-col-2-thrd {
    flex-basis: 47%;
  }

  .desc-col-1-thrd {
    margin-top: 75px;
    flex-basis: 47%;
  }
}

@media only screen and (width >=912px) {
  .column-half {
    flex-basis: 30%;
  }

  .footer-container {
    width: 100%;
  }

  .hr-footer {
    margin-top: 60px;
  }

  .footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 30px;
  }

  .footer-item {
    flex-basis: auto;
  }

  .img-col-2-thrd {
    flex-basis: 57%;
  }

  .desc-col-1-thrd {
    flex-basis: 37%;
  }
}

@media only screen and (width >= 1152px) {
  .mobile {
    display: none;
  }

  .desktop.shop,
  .desktop.about {
    display: flex;
    position: fixed;
    top: 32px;
    font-size: 20px;
    color: black;
  }

  .desktop.shop {
    right: 30%;
  }

  .desktop.about {
    right: 22%;
  }

  .bi-person {
    right: 15%;
  }

  .column-half {
    flex-basis: 22%;
  }

  .desc-col-1-thrd {
    margin-top: 125px;
  }

  .add-to-cart {
    margin-top: 50px;
  }
}
