* {
  box-sizing: border-box;
}

body {
  font-family: 'Crimson Text', sans-serif;
  margin: 26px auto;
  width: 85%;
  font-size: 18px;
  line-height: 24px;
  background-color: #fbf9f7;
}

.navbar-collapse {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;
  height: 10vh;
  padding-bottom: 0;
  background-color: #fbf9f7;
}

.bi {
  color: black;
  padding: 0;
}

.bi-list {
  font-size: 32px;
}

.bi-person {
  font-size: 30px;
}

.bi-bag {
  font-size: 24px;
  margin: 10px;
}

.top-hr {
  width: 100%;
  margin: 0;
  color: black 1px;
}

.catalog-intro {
  margin-top: 10vh;
  background-color: #f7ecde;
  height: 200px;
  margin-bottom: 10px;
}

.shop-all {
  font-size: 35px;
  margin-top: 38px;
  text-align: center;
}

.catalog-desc {
  padding: 0 40px;
}

link {
  text-decoration: none;
}

p {
  margin: 0;
}

.card-price {
  margin-bottom: 10px;
}

.card-body,
.footer-item {
  font-size: 18px;
  line-height: 24px;
  color: black;
  padding: 0;
}

a:link {
  text-decoration: none;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.column-full {
  flex-basis: 100%;
}

.column-half {
  flex-basis: 47%;
}

.image {
  margin: 10px 0;
  max-width: 100%;
  object-fit: contain;
}

.hr-footer {
  margin-top: 20px;
}
